// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

// user settings 

.user_info {
	margin-top: 10px;
}

.gravatar {
	border-radius: 10px;
}